<a href="https://colab.research.google.com/github/Ajay-Martin/Internship-/blob/main/AMD_Basic_day_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1.Write a Python program to print the following string in a specific format

In [ ]:
#Twinkle ,twinkle, little star,
#	 How I wonder what you are !
#		Up above the world so high, 
#		 Like a dimond in the sky.
#Twinkle ,twinkle, little star,
#	 How I wonder what you are

In [ ]:
print("Twinkle, twinkle, little star, \n\t How I wonder what you are! \n\t\t Up above the world so high, \n\t\t Like a diamond in the sky. \n Twinkle, twinkle, little star, \n\t How I wonder what you are!")

Twinkle, twinkle, little star,
	 How I wonder what you are!
		 Up above the world so high,
		 Like a diamond in the sky.
 Twinkle, twinkle, little star,
	 How I wonder what you are!

#2.Add Comments

In [ ]:
#This ia a Comment
#Ye bhi Comment hai

#3.Create Different List Of Variables

In [15]:
#Using Append
from typing import List

In [24]:
a = b = c = 300,
x=[a,b,c]
d = e = f =700
y=[d,e,f]

list = []

list.append(x)
list.append(y)
print(list)

[[(300,), (300,), (300,)], [700, 700, 700]]

In [25]:
#Basic list 
[[a,d],[b,e],[c,f]]

[[(300,), 700], [(300,), 700], [(300,), 700]]

#4.Take first name and last name as two seperate variables and then join two variables

In [ ]:
a = input("Enter your First Name =  ")
b = input("Enter your last Name = ")
print(a +" "+ b)

Enter your First Name =  ajay
Enter your last Name = daniel
ajay daniel