<a href="https://colab.research.google.com/github/Ajay-Martin/Internship-/blob/main/Basic_Exercises_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1.Write a Python program to print the following string in a specific format

In [ ]:
#Twinkle ,twinkle, little star,
#	 How I wonder what you are !
#		Up above the world so high, 
#		 Like a dimond in the sky.
#Twinkle ,twinkle, little star,
#	 How I wonder what you are

In [ ]:
print("Twinkle, twinkle, little star, \n\t How I wonder what you are! \n\t\t Up above the world so high, \n\t\t Like a diamond in the sky. \n Twinkle, twinkle, little star, \n\t How I wonder what you are!")

Twinkle, twinkle, little star,
	 How I wonder what you are!
		 Up above the world so high,
		 Like a diamond in the sky.
 Twinkle, twinkle, little star,
	 How I wonder what you are!

#2.Add Comments

In [ ]:
#This ia a Comment
#Ye bhi Comment hai

#3.Create Different List Of Variables

In [ ]:
#Using Append
from typing import List

In [ ]:
a = b = c = 3
x=[a,b,c]
d = e = f =7
y=[d,e,f]

list = []

list.append(x)
list.append(y)
print(list)

[[3, 3, 3], [7, 7, 7]]

In [ ]:
#Basic list 
[[a,d],[b,e],[c,f]]

[[3, 7], [3, 7], [3, 7]]

#4.Take first name and last name as two seperate variables and then join two variables

In [ ]:
a = input("Enter your First Name =  ")
b = input("Enter your last Name = ")
print(a +" "+ b)

Enter your First Name =  ajay
Enter your last Name = daniel
ajay daniel

#Day2

*italicized text*##Type Casting String,Float and Integer

In [ ]:
# String to int
year=2023
birth_year = input("Year of Birth : ")
age = year -int(birth_year)
print(age)

Year of Birth : 1995
28

In [ ]:
# Int to str
fav_no = 13
type(fav_no)

int

In [ ]:
print(type("13"))

<class 'str'>

In [ ]:
#str to float
a = input("Enter float point : ")
type(a)

Enter float point : 1.2

str

In [ ]:
b=input('Enter Float Value :')
b = float(b)
type(b)

Enter Float Value :2.4

float

## Get the character at position 1 of a string

In [ ]:
print("Shukran Dhuniya"[0])

S

##Get the characters from postion 2 to 5 (no included)

In [ ]:
print("Shukran Dhuniya"[2:5])

ukr



```
# This is formatted as code
```

##Remove whitespace from the beginning or at the end of a string

In [ ]:
g = "         Greetings          "
remove = g.strip()
print(remove,"How is you ???")

Greetings How is you ???

## Return the lenght of a string

In [ ]:
print(len("Andaconda Condabanda"))

20

## Convert a string to lower case

In [ ]:
upper_case ="ASDFGHJKL"
print(upper_case.swapcase())

asdfghjkl

## Convert a string to upper case

In [ ]:
lower_case ="qwertyuiop"
print(lower_case.swapcase())

QWERTYUIOP

## Replace a string with another string

In [ ]:
re = " Replace hoga"
print(re.replace('hoga','Hogaya'))

 Replace Hogaya

## Split a string into substrings

In [ ]:
print(re.split())

['Replace', 'hoga']

## Create a list

In [ ]:
interns =['Ajay','Aboli','Anand','Sahil']
interns

['Ajay', 'Aboli', 'Anand', 'Sahil']

## Access list items

In [ ]:
intern_1 = interns[0]
print(intern_1)

Ajay


## Change the value of a list  item

In [ ]:
interns[0] = 'Martin'
print(interns)

['Martin', 'Aboli', 'Anand', 'Sahil']

## Check if a list item exits

In [ ]:
exist_kartha ='Ajay' in interns
print(exist_kartha)

False

## Get the length of a list

In [ ]:
print(len(interns))

4

## Add an item at a specified index

In [ ]:
interns.insert(0,'Ajay')
interns.insert(-1,"Shettigar")
interns

['Ajay', 'Martin', 'Aboli', 'Anand', 'Shettigar', 'Sahil']

## Remove an item

In [ ]:
interns.remove('Martin')
interns

['Ajay', 'Aboli', 'Anand', 'Shettigar', 'Sahil']

##Remove the last item

In [ ]:
del interns[-1]
interns

['Ajay', 'Aboli', 'Anand', 'Shettigar']

## Remove an item at a specified index

In [ ]:
interns.pop(3)
interns

['Ajay', 'Aboli', 'Anand']

##Empty a list

In [ ]:
interns.clear()
interns

[]

## Using the list() contructor to make a list

# Day 3

##Create a tuple

In [ ]:
tup = ('a','b','c')
print(type(tup))

<class 'tuple'>

##Access tuple items

In [ ]:
city = ("Mumbai", "Chennai","Delhi","Karnataka")
city1 = city[0]
city2 = city[1]
print(city1)
print(city2)

Mumbai
Chennai

## Change tuple values

In [ ]:
x =("Lion","Cheetha","Dianasor")
y = list(x)
y[1] = "Tiger"
x =tuple(y)

## Loop through a tuple

In [ ]:
i = 0
while i < len(city):
  print(city[i])
  i=i+1

Mumbai
Chennai
Delhi
Karnataka

##Check if a tuple item exists

In [ ]:
'Mumbai' in city

True

## Get the length of a tuple

In [ ]:
len(city)

4

## Delete a tuple

In [ ]:
del city

## Using the tuple() constructor to create a tuple

In [ ]:
channel = ("AXN","Mtv","HBO","ESPN")
y = list(channel)
channel = tuple(y)
print(x)

('Lion', 'Tiger', 'Dianasor')

## Create a set

In [ ]:
st = {'Yellow',"Pink","Red","Blue"}
st

{'Blue', 'Pink', 'Red', 'Yellow'}

## Loop through a set

In [ ]:
for val in st:
    print(val)

Red
Pink
Blue
Yellow

## Check if an item exists

In [ ]:
print("this Set Contains Red : ","Red" in st)
print("this Set Contains purple : ","Purple" in st)

this Set Contains Red :  True
this Set Contains purple :  False

## Add an item to a set

In [ ]:
st.add("Green")
st

{'Blue', 'Green', 'Pink', 'Red', 'Yellow'}

## Add multiple items to a set

In [ ]:
st.update(["Black","Cyan"])
st

{'Black', 'Blue', 'Cyan', 'Green', 'Pink', 'Red', 'Yellow'}

## Get the length of a set

In [ ]:
len(st)

7

## Remove an item in a set

In [ ]:
st.remove("Cyan")
st

{'Black', 'Blue', 'Green', 'Pink', 'Red', 'Yellow'}

##Remove an item in a set by using the discard() method

In [ ]:
st.discard("Black")
st

{'Blue', 'Green', 'Pink', 'Red', 'Yellow'}

##Remove the last item in a set by using the pop() method

In [ ]:
st.pop()

'Yellow'

## Empty a set

In [ ]:
st.clear()
st

set()

##Delete a set

In [ ]:
del st

##Using the set() constructor to create a set

In [ ]:
st = set()
st.update("A","B","C","D")
st

{'A', 'B', 'C', 'D'}

## Create a dictionary

In [ ]:
me = {
    "first_name":"Alwarpettai",
    "Last_name":"Martin",
    "Age":"21",
    "Country":"Bharat",
    "Skills":['Statistics','Tablue','Confidence','Churan'] 
}

## Access the items of a dictionary

In [ ]:
print(me['Skills'])

['Statistics', 'Tablue', 'Confidence', 'Churan']

## Change the value of a specific item in a dictionary

In [ ]:
me["first_name"] = "Ajay"
me

{'first_name': 'Ajay',
 'Last_name': 'Martin',
 'Age': '21',
 'Country': 'Bharat',
 'Skills': ['Statistics', 'Tablue', 'Confidence', 'Churan']}

## Print all key names in a dictionary, one by one

In [ ]:
print(me.keys())

dict_keys(['first_name', 'Last_name', 'Age', 'Country', 'Skills'])

## Print all values in a dictionary, one by one

In [ ]:
for values in me.values():
  print(values)

Ajay
Martin
21
Bharat
['Statistics', 'Tablue', 'Confidence', 'Churan']

## Using the values() function to return values of a dictionary

In [ ]:
for values in me.values():
  print(values)

Ajay
Martin
21
Bharat
['Statistics', 'Tablue', 'Confidence', 'Churan']

##Loop through both keys an values, by using the items() function

In [ ]:
for key,value in me.items():
  print(key,value)

first_name Ajay
Last_name Martin
Age 21
Country Bharat
Skills ['Statistics', 'Tablue', 'Confidence', 'Churan']

## Check if a key existsGet the length of a dictionary

In [ ]:
chk=input('enter the value')
if chk in me:
  print('key exists')
else:
  print('key does not exists')

enter the valueAge
key exists

## Add an item to a dictionary

In [ ]:
me.update({'Species':'Cat'})
print(me)

{'first_name': 'Ajay', 'Last_name': 'Martin', 'Age': '21', 'Country': 'Bharat', 'Skills': ['Statistics', 'Tablue', 'Confidence', 'Churan'], 'Species': 'Cat'}

##Remove an item from a dictionary

In [ ]:
del me["Skills"]
print(me)

{'first_name': 'Ajay', 'Last_name': 'Martin', 'Age': '21', 'Country': 'Bharat', 'Species': 'Cat'}

## Empty a dictionary

In [ ]:
me.clear()
me

{}

## Using the dict() constructor to create a dictionary

In [ ]:
ma=dict(Name='Ajay',Gender='Male',YOB=1995)
print(ma)

{'Name': 'Ajay', 'Gender': 'Male', 'YOB': 1995}

#Day4

##Write a program that takes a positive integer from user and returns the cube of that number.

In [ ]:
c = int(input())
cube = c*c*c
print("Cube of 2 is",cube)

4
Cube of 2 is 64

## Write a program to find the maximum and minimum numbers from a list

In [ ]:
list1,list2 = [1,2,3,4,5,6,7,8,9,],[15,16,18,20,]
print("max value of list 1 is",max(list1))
print("min value of list 2 is",min(list2))

max value of list 1 is 9
min value of list 2 is 15

##Write a Python code to check whether a number is divisible by another number. Accept two integers values form the user

In [ ]:
num = int(input("Enter no to check divisibl = "))
div = int(input("Enter no to devide = "))
if num%div == 0:
  print("Divisible hai")
else:
  print("Nahi hai divisible")

Enter no to check divisibl = 14
Enter no to devide = 7
Divisible hai

##Write a Python program to valid a IP address

##Write a Python program to extract single key-value pair of a dictionary in variables

In [ ]:
dict = {"name": "Ajay", "age": 28, "place": "Bombay"}
key, value = dict.popitem()

print("Key:", key)
print("Value:", value)

## Write a Python program to check if lowercase letters exist in a string.

In [ ]:
str_1 = "Enter the Dragon"
print("does the Sting have lover case ? = ",str_1.islower())

does the Sting have lover case ? =  False

##Write a Python program to check if multiple variables have the same value

In [ ]:
var1="Ajay"
var2="Ajay"
var3="Ajay"
if all(var == var1 for var in (var1,var2,var3)):
   print("Sab ek hai.")
else:
   print("Sab moh maya hai.")

Sab ek hai.

##Write a Python program to filter the positive numbers from a list.

In [ ]:
numbers = [28, -1, -18, 11, 15, -6]
positive_numbers = [num for num in numbers if num > 0]
print("Positive numbers:", positive_numbers)

Positive numbers: [28, 11, 15]

##Write a Python program to swap two variables.

In [ ]:
v1="Ajay"
v2 = "Martin"
var1,var2=var2,var1
print("var1:", var1)
print("var2:", var2)

var1: Ajay
var2: Ajay

##Given variables x=30 and y=20, write a Python program to print t "30+20=50".

In [ ]:
x=30
y=20
t="30+20=50"
print(t)

30+20=50

##Write a Python program to calculate the sum over a list

In [ ]:
list = [1, 2, 3, 4, 5]
print(sum(i for i in list))

15

##Write a Python program to sort three integers without using conditional statements and loops

In [ ]:
def sort_numbers(a, b, c):
    return sorted([a, b, c])

print(sort_numbers(55,11,23))

[11, 23, 55]

##Write a Python program to get input as a string and convert it into Float or Integer

In [ ]:
var1=str(input('Enter the value'))
type(var1)
var2=int(var1)
type(var2)

Enter the value34

int

##Write a Python program to solve (x + y) * (x + y)
##get x and y value from user

In [ ]:
a=(int(input('enter value of x:')))
b=(int(input('enter value of y:')))
c=(x+y)*(x+y)
print(c)

enter value of x:2
enter value of y:3
2500

## Write a Python program to display your details like name, age, address in three different lines.

In [ ]:
name = "Ajay"
age = 27
address = "Bombay"

print("Name:", name)
print("Age:", age)
print("Address:", address)

Name: Ajay
Age: 27
Address: Bombay

##Write a Python program that will return true if the two given integer values are equal or their sum or difference is 5

In [ ]:
def check_numbers(a, b):
    if a == b or abs(a - b) == 5 or a + b == 5:
        return True
    else:
        return False

print(check_numbers(3, 4))   
print(check_numbers(2, 3))  
print(check_numbers(8, 1))

False
True
False

## Write a Python program to sum of two given integers. However, if the sum is between 15 to 20 it will return 20.

In [ ]:
def sum_with_condition(a, b):
    return min(a+b,20)

print(sum_with_condition(15, 10))  
print(sum_with_condition(5, 6))

20
11

##Write a Python program to get the least common multiple (LCM) of two positive integers

In [ ]:
import math

def lcm(x, y):
    return (x*y) / math.gcd(x, y)

print(lcm(4, 6))  
print(lcm(15, 25))

12.0
75.0

##Write a Python program to print out a set containing all the colors from color_list_1 which are not present in color_list_2.

In [ ]:
color_list_1 = {'black', 'blue'}
color_list_2 = {'orange','cyan','red'}
result=color_list_1 - color_list_2
print(result)

{'black', 'blue'}

##Write a Python program to create an intersection of sets.

In [ ]:
set1={1,2,3,4,5}
set2={5,6,7,8}
intersection= set1&set2
print(intersection)

{5}

##Write a Python program to issubset and issuperset

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5}
set3 = {6, 7, 8}

print("set2 is a subset of set1:", set2.issubset(set1)) 
print("set3 is a subset of set1:", set3.issubset(set1)) 

print("set1 is a superset of set2:", set1.issuperset(set2)) 
print("set1 is a superset of set3:", set1.issuperset(set3))

set2 is a subset of set1: True
set3 is a subset of set1: False
set1 is a superset of set2: True
set1 is a superset of set3: False

## Write a Python program to reverse a tuple.

In [ ]:
eg_tuple = (1, 2, 3, 4, 5)

reversed_tuple = eg_tuple[::-1]
print(reversed_tuple)

(5, 4, 3, 2, 1)

## Write a Python program to convert a tuple t = ( (10,'ten'), (20, "twenty") ) into a dictionary.

In [ ]:
t = ( (10,'ten'), (20, "twenty") )

SyntaxError: ignored

##Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing' then add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged.

In [ ]:
def add_suffix(string):
    if len(string) < 3:
        return string
    elif string.endswith('ing'):
        return string + 'ly'
    else:
        return string + 'ing'

print(add_suffix('amaz')) 
print(add_suffix('sing')) 
print(add_suffix('bor'))

amazing
singly
boring

##Write a Python code that takes a list of words and returns the length of the longest one.

In [ ]:
words=['ajay','aboli','sahil','anand']
lword = max(len(word) for word in words)
print(lword)

5

#Day 5

## write a program to check whether a number entered by user is even or odd

In [2]:
a=int(input('Enter the number of your choice:'))
if a % 2 == 0:
  print('The number entered is even.')
else:  
  print('the number entered is odd.')

Enter the number of your choice:8
The number entered is even.

## write a program to check whether a number entered by user is divisible by 7 or not

In [3]:
num=int(input('Enter the number:'))
if num % 7 == 0:
   print('the number is divisibe by 7.')
else:
   print('the number is not divisible by 7.')

Enter the number:8
the number is not divisible by 7.

## write a program to display "Hello" if a number entered by user is a multiple of five, otherwise print "Bye".

In [4]:
a=int(input('Enter the number:'))
if a % 5 == 0:
  print('Hello')
else:
  print('Bye')

Enter the number:8
Bye

## write a program to check whether a person is eligible for voting or not
## (accept age from user)

In [5]:
age=int(input('Enter your age:'))
if age >= 18:
  print('You are eligible for voting.')
else:
  print('You are not eligible for voting.')

Enter your age:22
You are eligible for voting.

## write a program to check whether an years is leap year or not

In [6]:
year=int(input('Enter any year of your choice:'))
if year % 4 == 0:
  print('It is a leap year.')
else:
  print('It is not a leap year.')

Enter any year of your choice:1998
It is not a leap year.

## write a program to accept a number from 1 to 7 and display the name of the day like 1 for Sunday, 2 for Monday and so on.

In [7]:
day=int(input('Enter any number from 1 to 7:'))
days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
if day >= 1 and day <= 7:
    print(f"{day} is {days[day-1]}")
else:
    print("Invalid input. Please enter a number from 1 to 7.")

Enter any number from 1 to 7:2
2 is Monday

## write the logical expression for the following:
## A is grater than B and C is grater than D

## write a program to find the lowest number out of two numbers excepted from user

In [8]:
a=int(input('Enter the fisrt number:'))
b=int(input('Enter the second number'))
lowest_number=min(a,b)
print('The lowest number is:',lowest_number)

Enter the fisrt number:2
Enter the second number4
The lowest number is: 2

## write a program to find the largest number out of two numbers excepted from user

In [9]:
a=int(input('Enter the first number:'))
b=int(input('Enter the second number'))
largest_number=max(a,b)
print('The largest number is:',largest_number)

Enter the first number:2
Enter the second number5
The largest number is: 5

## write a program to check whehter a number (accepted from user) is positive or negative

In [10]:
num=(int(input('enter the number:')))
if num > 0:
  print('the number entered is positive.')
else:
  print('the number entered is negative.')

enter the number:-3
the number entered is negative.

## write program to check whether a number(accpeted from user) is divisible by 2 and 3 both

In [11]:
num=int(input('enter the number:'))
if num % 2 and 3 == 0:
  print('the number entered is divisble by 2 and 3.')
else:
  print('the number entered is not divisible by 2 and 3.')

enter the number:6
the number entered is not divisible by 2 and 3.

## write a program to check whether a number is prime or not

In [12]:
num = int(input("Enter a number: "))

if num > 1:
    for i in range(2, num):
        if (num % i) == 0:
            print(f"{num} is not a prime number.")
            break
    else:
        print(f"{num} is a prime number.")
else:
    print(f"{num} is not a prime number.")

Enter a number: 22
22 is not a prime number.

## write a program to check whether a number is vowel or not

In [13]:
vowels=(input('enter any letter:'))
if vowels in 'aeiou':
   print('the letter is a vowel.')
else:   
   print('the letter is not a vowel.')

enter any letter:a
the letter is a vowel.

## Accept three side of a triangle and check whether it is an equilateral, isosceles or scalene triangle

In [14]:
s1 = int(input("Enter the first side of the triangle: "))
s2 = int(input("Enter the second side of the triangle: "))
s3 = int(input("Enter the third side of the triangle: "))

if s1 == s2 and s2 == s3:
    print("This is an equilateral triangle.")
elif s1 == s2 or s1 == s3 or s2 == s3:
    print("This is an isosceles triangle.")
else:
    print("This is a scalene triangle.")

Enter the first side of the triangle: 2
Enter the second side of the triangle: 3
Enter the third side of the triangle: 4
This is a scalene triangle.

## Accept three numbers from user and display the second largest number.

In [15]:
num1=int(input('Enter the first number:'))
num2=int(input('Enter the second number:'))
num3=int(input('Enter the third number:'))
num=[num1,num2,num3]
num.sort()
print('the second largest number is:',num[1])

Enter the first number:1
Enter the second number:2
Enter the third number:3
the second largest number is: 2

## Accpet the kilometers covered and calculate the bill according to the following criteria:
## First 10 km      Rs 11/km
## Next 90 km       Rs 10/km
## After that       Rs 9/km

In [16]:
kms = float(input("Enter the kilometers covered: "))

if kms <= 10:
    bill = kms * 11
elif kms <= 100:
    bill = 10 * 11 + (kms - 10) * 10
else:
    bill = 10 * 11 + 90 * 10 + (kms - 100) * 9

print("The bill is: Rs", bill)

Enter the kilometers covered: 1111
The bill is: Rs 10109.0

## Take values of length and breadth of a rectangle from user and check if it is square or not.

In [17]:
length=int(input('enter the length:'))
breadth=int(input('enter the breadth:'))
if length == breadth:
    print("The rectangle is a square.")
else:
    print("The rectangle is not a square.")

enter the length:12
enter the breadth:21
The rectangle is not a square.

## The given number is of one digited or two digited or three digited or more than three digited.
## (accpet from user)

In [18]:
num = int(input("Enter a number: "))

if num >= 0 and num < 10:
    print("The number is a one-digit number.")
elif num >= 10 and num < 100:
    print("The number is a two-digit number.")
elif num >= 100 and num < 1000:
    print("The number is a three-digit number.")
else:
    print("The number is a more than three-digit number.")

Enter a number: 12
The number is a two-digit number.

## write a program to check whether a number entered by user is divisible by 7 or not. if it is not divisible by 7 then print how much number is needed to add to get it divisible by 7

In [19]:
import math
a = int(input("Enter a number: "))

if a % 7 == 0:
    print("a is divisible by 7.")
else:
    print("a is not divisible by 7 :, (add {7 - (a % 7)} to get the nearest number divisible by 7")

Enter a number: 49
a is divisible by 7.